@model IEnumerable<WebAppCar.ViewModel.CountryViewModel>
@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Continent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfContry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Continent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfContry)
        </td>
        <td>
            @Html.ActionLink("Edit", "CreateCountry", "ExtNet", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteCountry", "ExtNet", new { id=item.Id },null)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "CreateCountry", "ExtNet")
</p>